.image-slider img{
    margin-left: 1rem;
}

.image-slider .swiper-slide{
    border-radius: 16px;
}

.subtext-gallery{
    color: #ef7a9d;
    font-weight:600;
    padding-top: 2rem;
    padding-bottom: 0;
}

.nudge{
    padding: 0.25rem;
    transition: all 0.5s;
    visibility: hidden;
}

.nudge-invis{
    transition: all 0.5s;
    bottom: -100px;
}